body {
    margin: 0;
    padding-top: 60px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); 
    background-color: #f5f5dc;
    position: relative;
    z-index: 2;
}
.footer {
    background-color: rgba(107, 142, 35, 0.7);
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 40px;
    z-index: 10;
}
.footer-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.footer-icon img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}
.footer-icon:hover img {
    transform: scale(1.1);
}
