.navbar {
    display: block; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    background-color: rgba(107, 142, 35, 0.7); 
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex; 
    font-family: "Montserrat", sans-serif;
}

.navbar a {
    color: rgba(28, 37, 9, 0.7); 
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: color 0.3s ease; /
}


.navbar a.active {
    color: #fff; 
    font-weight: lighter;
}


.navbar a:hover {
    color: #fff; 
    background-color: transparent; 
}
