body {
    margin: 0; 
    padding-top: 60px; 
}

h1 {
    text-align: center; 
    margin: 20px 0; 
    position: relative; 
    z-index: 1; 
    margin-top: 20px;
    font-size: 2.5em; 
}

.proglangcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s; 
    width: 90%; 
    max-width: 600px; 
    border-radius: 5px;
    background: rgba(248, 248, 197, 0); 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    z-index: 1; 
}

.proglangcontainer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    position: relative; 
    z-index: 1; 
    margin: 20px;
}

.image-container {
    width: 15%; 
    max-width: 90px; 
    height: 100px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 197, 0); 
    border: 1px solid rgba(248, 248, 197, 0); 
    border-radius: 5px; 
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); 
    position: relative; 
    z-index: 1; 
    margin-top: 20px;
    overflow: hidden; 
}

.language-image {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    transition: opacity 0.3s; 
}

.content {
    width: 100%;
    text-align: center; 
    margin-top: 10px; 
    opacity: 0; 
    transition: opacity 0.6s; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.image-container:hover .language-image {
    opacity: 0; 
}

.image-container:hover .content {
    opacity: 1; 
}

.content h2 {
    font-size: 20px; 
    color: black; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
    }

    .proglangcard {
        padding: 15px; 
    }

    .image-container {
        width: 30%; 
        height: 80px; 
    }

    .language-image {
        height: 100%; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
    }

    .proglangcard {
        padding: 10px; 
    }

    .image-container {
        width: 40%; 
        height: 60px;
    }

    .language-image {
        height: 100%; 
    }
}
