body {
    margin: 0;
    padding-top: 60px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    position: relative;
    z-index: 1;
    font-size: 2.5em;
}

.proglangcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 90%;
    max-width: 600px;
    border-radius: 5px;
    background: rgba(248, 248, 197, 0);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.proglangcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 1;
    margin: 20px;
}

.image-container {
    width: 15%;
    max-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 197, 0);
    border: 1px solid rgba(248, 248, 197, 0);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.language-image {
    width: 100%;
    height: auto; 
    object-fit: contain;
}

h2 {
    font-size: 16px;
    color: black;
    font-weight: 450;
    margin-top: 10px; 
    text-align: center; 
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .proglangcard {
        padding: 15px;
    }

    .image-container {
        width: 30%;
    }

    h2 {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .proglangcard {
        padding: 10px;
    }

    .image-container {
        width: 40%;
    }

    h2 {
        font-size: 12px; 
    }
}
