h1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 350;
}

p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.indexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    background-color: transparent;
    padding-top: 60px;
    position: relative;
    z-index: 2;
    margin-top: -100px;
}

.namecardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.autotype {
    font-family: "Montserrat", sans-serif;
    color: #84ab47;
    font-size: 24px;
}

#mypic {
    border-radius: 50%;
    object-fit: cover;
    width: 180px;
    height: 180px;
}

.spacer {
    height: 30vh;
}
